<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Teko&display=swap" rel="stylesheet">
  

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">


    <title>Pagina Principal</title>
</head>
 <!--NAV -->   

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-lg-top sticky-xl-top">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">TaskIt</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#tips">Tips</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sobre">Sobre la pagina</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Iniciar Sesion</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

 <!--"Heroe"-->   

  <header>
    
    <div class="container-fluid contenedor">
        <div class="row  ">
         <div class="col ">
            <h1 class="titulo display-3 border-bottom ">TaskIt<br>Tu nueva app de tareas</h1>
            <h6 class="bannerp" >Es hora de agrupar tus objetivos y cumplirlos como es debido, TaskIt está aquí para ayudarte.</h6>
         </div>
        
            
            <div class=" col-lg-5 align-items-center justify-content-between ">
            <img src="undraw_process_re_gws7.svg" class="img-fluid tarea" alt="...">
          </div>
        </div>
    </div>


    <div class="wave">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#FFFFFF" fill-opacity="1" d="M0,32L14.1,48C28.2,64,56,96,85,106.7C112.9,117,141,107,169,117.3C197.6,128,226,160,254,149.3C282.4,139,311,85,339,90.7C367.1,96,395,160,424,192C451.8,224,480,224,508,213.3C536.5,203,565,181,593,160C621.2,139,649,117,678,112C705.9,107,734,117,762,117.3C790.6,117,819,107,847,133.3C875.3,160,904,224,932,256C960,288,988,288,1016,277.3C1044.7,267,1073,245,1101,229.3C1129.4,213,1158,203,1186,192C1214.1,181,1242,171,1271,138.7C1298.8,107,1327,53,1355,58.7C1383.5,64,1412,128,1426,160L1440,192L1440,320L1425.9,320C1411.8,320,1384,320,1355,320C1327.1,320,1299,320,1271,320C1242.4,320,1214,320,1186,320C1157.6,320,1129,320,1101,320C1072.9,320,1045,320,1016,320C988.2,320,960,320,932,320C903.5,320,875,320,847,320C818.8,320,791,320,762,320C734.1,320,706,320,678,320C649.4,320,621,320,593,320C564.7,320,536,320,508,320C480,320,452,320,424,320C395.3,320,367,320,339,320C310.6,320,282,320,254,320C225.9,320,198,320,169,320C141.2,320,113,320,85,320C56.5,320,28,320,14,320L0,320Z"></path>
      </svg>
    </div>
      
</header>

<section class="section-1" id="tips">
  <div class="container titulo-control ">
  <div data-aos="fade-up" class="row ">
    <h1>Tu tienes el control de tus Tareas</h1>
    <p>"TaskIt es la herramienta perfecta para ayudarte a mantener el control total de tus tareas diarias. Ya sea que estés organizando proyectos personales o gestionando responsabilidades profesionales, nuestra aplicación está diseñada para brindarte la flexibilidad y la eficiencia que necesitas. Con una interfaz intuitiva y fácil de usar, TaskIt te permite crear, priorizar y seguir tus tareas de manera conveniente. Ya no tendrás que preocuparte por perder el hilo o olvidar una tarea importante. Simplifica tu vida y toma el control total de tus tareas con TaskIt."<br>Aquí tienes unos tips para mejorar a la hora de hacer tus tareas y completarlas de la mejor manera:</p>
  </div>
  </div>


<div class="container" >

<div class="row">
<div data-aos="fade-up" class="col ">
<div class="card-container">
  <div class="card">
  <div class="front-content">
  <p>Tip 1</p>
  </div>
  <div class="content">
  <p class="heading">Planificación y organización:</p>
  <p>
     Antes de comenzar cualquier tarea, tómate un tiempo para planificar y organizar tus actividades. 
    Haz una lista de todas las tareas que necesitas realizar y establece prioridades. Puedes utilizar herramientas como agendas, 
    aplicaciones de gestión de tareas como TaskIt o simplemente un papel y lápiz.
  </p>
  </div>
  </div>
  </div>
</div>

<div data-aos="fade-up" class="col">
  <div class="card-container">
    <div class="card">
    <div class="front-content">
    <p>Tip 2</p>
    </div>
    <div class="content">
    <p class="heading">Establece plazos realistas:</p>
    <p>
       Es importante establecer plazos realis<br>tas para tus tareas. 
      Evalúa la cantidad de tiempo que requiere cada tarea y asigna un plazo adecuado para completarla. 
      Considera cualquier otro compromiso o proyecto en curso para asegurarte de que no te sobrecargues. 
      
    </p>
    </div>
    </div>
    </div>
  </div>

  <div data-aos="fade-up"class="col">
    <div class="card-container">
      <div class="card">
      <div class="front-content">
      <p>Tip 3</p>
      </div>
      <div class="content">
      <p class="heading">Elimina distracciones:</p>
      <p>
         Para hacer las tareas de manera eficiente, es crucial minimizar las distracciones. 
        Apaga las notificaciones innecesarias en tu teléfono o computadora, encuentra un lugar tranquilo para trabajar y evita interrupciones.
       
      </p>
      </div>
      </div>
      </div>
    </div>

</div>
</div>
</section>



<section class="section-2" id="sobre">
  <div class="container titulo-porque ">
    <div class="row" data-aos="fade-up">
      <h1>Que es TaskIt?</h1>
      <p>TaskIt fue creada con el propósito de ayudarte con tus tareas y llevar un registro de ellas para así cumplirlas con mucha más organización. TaskIt fue creado por estudiantes por lo que sabemos muy bien la necesidad de organizar trabajos y tareas, esperamos que TaskIt te sea de ayuda y logres todas tus metas y objetivos.</p>
    </div>
    <div class="row  ">
      <div data-aos="fade-up" class="col col-xl-4 col-lg-5 text-center pb-4 pt-5">
        <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist icono" viewBox="0 0 16 16">
          <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
          <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
        </svg>
        <p class="pt-5">"Lleva el registro de tus tareas"</p>   
      </div>
      <div data-aos="fade-up"class="col col-xl-4 col-lg-5 text-center pb-4 pt-5">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pc-display icono" viewBox="0 0 16 16">
          <path d="M8 1a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1V1Zm1 13.5a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0Zm2 0a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0ZM9.5 1a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5ZM9 3.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 0-1h-5a.5.5 0 0 0-.5.5ZM1.5 2A1.5 1.5 0 0 0 0 3.5v7A1.5 1.5 0 0 0 1.5 12H6v2h-.5a.5.5 0 0 0 0 1H7v-4H1.5a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5H7V2H1.5Z"/>
        </svg>
        <p class="pt-5">"Usala desde tu dispositivo Favorito"</p>        
      </div>
      <div data-aos="fade-up"class="col col-xl-4 col-lg-5 text-center pb-4 pt-5">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-check icono" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
          <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
          <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
        </svg>
        <p class="pt-5">"Cumple uno a uno tus objetivos"</p>   
      </div>
    </div>

    
    </div>
    
    

</section>



<section data-aos="fade-up" class="section-3">
<div class="container ">
  <div class="row row-xl-4 row-lg-5 text-center ">
    <h1>Comienza Ahora!</h1>
    <p>"El éxito no está en hacer todas las tareas perfectamente, sino en tomar acción y dar lo mejor de ti en cada una de ellas."</p>
    <div class=" boton">
      <a href="/signin" class="btn btn-dark">Comenzar</a>
    </div>
  </div>
 
</div>

</section>


<footer  class="text-white pt-5 pb-4 ">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h1 class="text-uppercase mb-4 font-weight-bold ">&copy; Contacto</h1>
        <h6>
          <i class="fas fa-envelope mr-3">thorpeandrewgon@gmail.com</i>
        </h6>
        <h6>
          <i class="fas fa-envelope mr-3">melissabonila05@gmail.com</i>
        </h6>
      </div>
      <div class="text-uppercase mb-4 font-weight-bold  col col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h1>&copy; TaskIt</h1>
        <h6>Andrew González Thorpe</h6>
        <h6>Melissa Bonilla Bonilla</h6>

      </div>
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h1 text-uppercase mb-4 font-weight-bold>&copy; Sobre el sitio</h1>
      <h6> Este sitio fue creado como un proyecto por parte de estudiantes de Informática en desarrollo web</h6>

    </div>
  </div>
</footer >
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>